@import 'tailwindcss' source(none);

@source not "../../src/**/*.test.ts";
@source not "../../src/**/*.d.ts";
@source not inline("{filter,transition}");

@source "../../src/**/*.vue";
@source "../../src/**/*.ts";
@source "../../src/**/*.tsx";

@plugin "@iconify/tailwind4" {
  prefixes: ph;
  prefix: 'iconify';
  scale: 1.2;
}

@custom-variant dark (&:where(.dark, .dark *));

@config "../../tailwind.config.ts";

@theme {
  --default-transition-duration: 300ms;
}

@theme inline {
  --color-primary: var(--primary-color);
  --color-naive-border: var(--border-color);
  --color-naive-card: var(--card-color);
  --color-naive-text3: var(--text-color-3);
  --color-naive-button2-hover: var(--button-color-2-hover);
  --radius-naive: var(--border-radius);
  --radius-naive-sm: calc(var(--border-radius-small));
}
